In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn 
%matplot lib inline

UsageError: Line magic function `%matplot` not found.

In [ ]:
#df= pd.read_csv('suicide_total_micro_NAx99x999x.csv')
gun=pd.read_csv('suicidemerge_bygunsu.csv')
df=pd.read_csv('try_1.csv')
#nal=pd.read_csv('nal.csv')
#df= pd.read_excel('suicidetotalGyeonggi.xlsx')
#df= pd.read_excel('(자살)일별_날씨통합.xlsx')
#sc_event=pd.read_excel('(자살)경기서울.xlsx')
#sc_day=pd.read_excel('(자살)경기서울_일별건수.xlsx')
#cl_time=pd.read_excel('(기상)서울.xlsx')
#cl_day=pd.read_csv('nal.csv')
el=pd.read_csv

In [3]:
df = pd.read_csv("try_1.csv")

In [38]:
df = df[~df['age'].isin(['999'])]
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204386 entries, 0 to 204424
Data columns (total 19 columns):
date               204386 non-null object
time               204386 non-null int64
sex                204386 non-null object
year               204386 non-null int64
month              204386 non-null int64
d_date             204386 non-null int64
age                204386 non-null int64
job                204386 non-null int64
marriage           204386 non-null int64
edu                204386 non-null int64
temp               204386 non-null float64
lowest_temp        204386 non-null float64
highest_temp       204386 non-null float64
humidity           204386 non-null float64
total_sun          204386 non-null float64
cloud              204386 non-null float64
air_pressure       204386 non-null float64
daily_temp_diff    204386 non-null float64
suicide            204386 non-null int64
dtypes: float64(8), int64(9), object(2)
memory usage: 31.2+ MB

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 204386 entries, 0 to 204424
Data columns (total 19 columns):
date               204386 non-null object
time               204386 non-null int64
sex                204386 non-null object
year               204386 non-null int64
month              204386 non-null int64
d_date             204386 non-null int64
age                204386 non-null int64
job                204386 non-null int64
marriage           204386 non-null int64
edu                204386 non-null int64
temp               204386 non-null float64
lowest_temp        204386 non-null float64
highest_temp       204386 non-null float64
humidity           204386 non-null float64
total_sun          204386 non-null float64
cloud              204386 non-null float64
air_pressure       204386 non-null float64
daily_temp_diff    204386 non-null float64
suicide            204386 non-null int64
dtypes: float64(8), int64(9), object(2)
memory usage: 31.2+ MB

In [ ]:
df.describe()

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16163 entries, 0 to 16162
Data columns (total 17 columns):
date        16163 non-null object
time        16163 non-null int64
sex         16163 non-null int64
year        16163 non-null int64
month       16163 non-null int64
d_date      16163 non-null int64
age         16163 non-null int64
job         16163 non-null int64
marriage    16163 non-null int64
edu         16163 non-null int64
temp        16163 non-null float64
rain        16163 non-null float64
humidity    16163 non-null float64
cloud       16163 non-null int64
clim_num    16163 non-null int64
snow        16163 non-null float64
sun         16163 non-null float64
dtypes: float64(5), int64(11), object(1)
memory usage: 2.1+ MB

In [6]:
df['job'][df['suicide']==1][df['age']>=65].value_counts().sort_index()

0    3415
1     430
Name: job, dtype: int64

In [ ]:
#(x=df['temp'][df['month'] == 1],y='edu')
df.hist(bins=50, figsize=(20,15))
plt.show()

In [ ]:
plt.plot()

In [ ]:
dt['temp'][dt['month'] == 7].plot(kind= 'hist', bins=50 )

In [ ]:
dt.groupby('month').mean()

In [ ]:
pd.scatter_matrix

In [ ]:
(dt['temp'][dt['year']==2014][dt['month'] == 7]>25.6).value_counts()

In [ ]:
(dt['temp'][dt['year']==2014][dt['month'] == 8]>24.7).value_counts()

In [ ]:
dt['month'][dt['year'] == 2016].value_counts().sort_index()

In [ ]:
df['marriage'][df['sex']==1].value_counts().sort_index()

In [ ]:
dt['time'].value_counts()

In [ ]:
s=df.groupby('month')['time'].value_counts().sort_index()
with pd.option_context('display.max_rows', None, 'display.max_columns', 3):
    display(s)

In [ ]:
 f=open("monthly_time_suicide.txt", "a+")

In [ ]:
f.write('{}'.format(s))
f.close()